@font-face {
  font-family: DINPro-Bold;
  font-style: normal;
  font-weight: normal;
  src: url('./DINPro-Bold.otf');
}

@font-face {
  font-family: DINPro-Medium;
  font-style: normal;
  font-weight: normal;
  src: url('./DINPro-Medium.otf');
}

@font-face {
  font-family: DINPro-Regular;
  font-style: normal;
  font-weight: normal;
  src: url('./DINPro-Regular.otf');
}