body {
  overflow: hidden;
}

.home-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.strip-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.strip-loading li {
  --time: calc((var(--line-index) - 1) * 200ms);
  border-radius: 8px;
  width: 8px;
  height: 48px;
  background-color: #33cc99;
  animation: beat 1s ease-in-out var(--time) infinite;
  list-style-type: none;
}

.strip-loading-li + .strip-loading-li {
  margin-left: 6px;
}

@keyframes beat {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.5);
  }
}
