// 禁止文本复制
.arco-link,
.arco-menu-title,
.arco-menu-item-inner,
.arco-tabs-tab-title,
.arco-breadcrumb-item,
.arco-checkbox-label {
  user-select: none;
}

.arco-btn-size-small:not(.arco-btn-only-icon) .arco-btn-icon {
  margin-right: 4px;
}

.arco-tree-show-line .arco-tree-node-is-leaf:not(.arco-tree-node-is-tail) .arco-tree-node-indent::after,
.arco-tree-show-line .arco-tree-node-indent-block::before {
  transform: translateX(0);
  border-color: var(--color-border-3);
  flex-shrink: 0;
}

.arco-tree-show-line .arco-tree-node-indent-block::before,
.arco-tree-show-line .arco-tree-node-is-leaf:not(.arco-tree-node-is-tail) .arco-tree-node-indent::after {
  border-left-style: dotted;
}

// .arco-tree-node-minus-icon::after,
// .arco-tree-node-plus-icon::after,
// .arco-tree-node-plus-icon::before {
//   color: rgb(var(--primary-6));
//   background-color: rgb(var(--primary-6));
// }

.arco-tree-node-minus-icon,
.arco-tree-node-plus-icon {
  border: 1px solid var(--color-border-3);
  box-sizing: border-box;
}

.arco-pagination-item {
  background-color: var(--color-fill-2);
  &:hover {
    background-color: var(--color-fill-3);
  }
}

// 对话框组件
.arco-modal-title .arco-icon-exclamation-circle-fill {
  font-size: 24px;
}
.arco-modal-title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arco-modal {
  .arco-modal-header {
    .arco-modal-title {
      justify-content: flex-start;
    }
  }
  .arco-modal-body {
    padding-bottom: 0;
  }
  .arco-modal-footer {
    border-top: none;
  }
}
.arco-modal-simple {
  padding: 15px;
  .arco-modal-header {
    margin-bottom: 20px;
    .arco-modal-title {
      justify-content: flex-start;
      font-size: 18px;
    }
  }
  .arco-modal-footer {
    margin-top: 15px;
    text-align: right;
  }
}

// 单选按钮组件
.arco-radio-icon {
  border: 1px solid var(--color-neutral-3);
  width: 16px;
  height: 16px;
}
.arco-radio-icon::after {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
}
.arco-radio-checked .arco-radio-icon {
  background-color: var(--bg-color-2);
  flex-shrink: 0;
}
.arco-radio-checked .arco-radio-icon::after {
  transform: scale(0.6) !important;
  background-color: rgb(var(--primary-6));
  top: -1px;
  left: -1px;
  width: 16px;
  height: 16px;
}

// 分页组件
.arco-pagination-item-active {
  color: #fff;
  background-color: rgb(var(--primary-6));
  &:hover {
    color: #fff;
    background-color: rgb(var(--primary-6));
  }
}
