body {
  // --border-radius-small: 4px;
  // --border-radius-medium: 6px;
  // --border-radius-large: 8px;
}

// .arco-btn.arco-btn-status-normal.arco-btn-secondary:not(.arco-btn-only-icon) {
//   background: none;
//   border: 1px solid var(--color-border-3);
//   &:active {
//     background: var(--color-secondary-hover);
//   }
// }

// 禁止文本复制
.arco-menu-title,
.arco-menu-item-inner {
  user-select: none;
}

// Modal对话框修改
.arco-modal-title .arco-icon-exclamation-circle-fill {
  font-size: 24px;
}
.arco-modal-title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arco-modal {
  .arco-modal-header {
    .arco-modal-title {
      justify-content: flex-start;
    }
  }
  .arco-modal-body {
    padding-bottom: 0;
  }
  .arco-modal-footer {
    border-top: none;
  }
}

.arco-modal-simple {
  padding: 15px;
  top: 50%;
  transform: translateY(-50%);
  .arco-modal-header {
    margin-bottom: 20px;
    .arco-modal-title {
      justify-content: flex-start;
      font-size: 18px;
    }
  }
  .arco-modal-footer {
    margin-top: 15px;
    text-align: right;
  }
}

.arco-dropdown-option {
  display: flex;
  align-items: center;
  .arco-dropdown-option-icon {
    line-height: 1;
    margin-right: 4px;
  }
}

.arco-radio-icon {
  border: 1px solid var(--color-neutral-3);
  width: 16px;
  height: 16px;
}
.arco-radio-icon::after {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
}
.arco-radio-checked .arco-radio-icon {
  background-color: var(--bg-color-2);
  flex-shrink: 0;
}
.arco-radio-checked .arco-radio-icon::after {
  transform: scale(0.6) !important;
  background-color: rgb(var(--primary-6));
  top: -1px;
  left: -1px;
  width: 16px;
  height: 16px;
}
