* {
  padding: 0;
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

body {

  --margin: 14px;
  --padding: 16px;
  overflow: hidden;
  // font-family: "helvetica neue", helvetica, "pingfang sc", "hiragino sans gb", "microsoft yahei", "\5fae\8f6f\96c5\9ed1", "arial/sans-serif";
  color: var(--color-text-2);
  background-color: #f5f7fd;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[arco-theme='dark'] {
  background-color: #373739; // body背景颜色-深色模式
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

ul {
  margin-bottom: 0;
  list-style: none !important;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}