@import './var.scss';

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial,
  //   sans-serif;
  overflow: hidden;
  // transition: color 0.6s, background-color 0.6s;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: $color-text-2;
  background: $color-bg;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[arco-theme='dark'] #app {
  background-color: var(--color-bg-5);
}

ul {
  list-style: none !important;
  margin-bottom: 0;
}

pre {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #333;
  padding: 15px;
  border-radius: 6px;
}
