.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-col-start {
  align-items: flex-start;
}

.flex-col-center {
  align-items: center;
}

.flex-col-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-column {
  flex-direction: column;
}

// 定义flex等分
@for $i from 0 through 12 {
  .flex-#{$i} {
    flex: $i;
  }
}
