/* 全局样式 */
@import './var.scss';

// 通用标题
.gi_title {
  font-size: 14px;
  margin-bottom: $margin;
}

// 通用外边距
.gi_margin {
  margin: $margin;
}

// 通用内边距
.gi_padding {
  padding: $padding;
}

.gi_relative {
  position: relative;
}

.gi_absolute {
  position: absolute;
}

// 通用盒子
.gi_box {
  background: $border-color;
  border-radius: $box-radius;
  overflow: hidden;
}

// 鼠标悬停
.gi_hover {
  transition: color 0.3s;
  &:hover {
    color: $theme-color !important;
    cursor: pointer;
  }
}

.gi_select_input {
  width: 120px !important;
}

.gi_search_input {
  width: 250px !important;
}

.gi_line_1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gi_line_2 {
  -webkit-line-clamp: 2;
}

.gi_line_3 {
  -webkit-line-clamp: 3;
}

.gi_line_4 {
  -webkit-line-clamp: 4;
}

.gi_line_5 {
  -webkit-line-clamp: 5;
}

.gi_line_2,
.gi_line_3,
.gi_line_4,
.gi_line_5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; // 弹性伸缩盒
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}

.gi_flex_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gi_lr_page {
  flex: 1;
  padding: $padding;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  > .left {
    @extend .gi_box;
    flex: 1;
    min-width: 300px;
    padding: $padding;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  > .right {
    @extend .gi_box;
    flex: 5;
    margin-left: $margin;
    padding: $padding;
    box-sizing: border-box;
    overflow: hidden;
  }
}
