/* 全局样式 */
@import './var.scss';

// hover按钮
.gi_hover_btn {
  border: 0 !important;
  background-color: transparent;

  &:hover {
    background: var(--color-secondary-hover) !important;
  }

  &:active {
    background: var(--color-secondary-active) !important;
  }
}

// 通用盒子
.gi_box {
  background: var(--color-bg-1);
  border-radius: $radius-box;
  overflow: hidden;
}

// 卡片组件，使body的高度自动撑满
.gi_card {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .arco-card-body {
    flex: 1;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

// 页面卡片，右侧有返回按钮
.gi_page_card {
  flex: 1;
  margin: var(--margin);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .arco-card-body {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

// 卡片标题，标题左侧的伪类样式
.gi_card_title {
  .arco-card-header-title::before {
    content: '';
    width: 4px;
    height: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(var(--warning-5));
    border-radius: 0 4px 4px 0;
  }
}

// 使用场景，页面内容超出高度会自动滚动
.gi_page {
  flex: 1;
  padding: $margin;
  box-sizing: border-box;
  overflow-y: auto;
}

// 表格页面(未来会废弃，请使用GiPageLayout组件)
.gi_table_page {
  flex: 1;
  overflow: hidden;
  margin: $margin;
  background: var(--color-bg-1);
  padding: $padding;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

// 表格类名 高度自适应
.gi_table {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  >.arco-spin {
    max-height: 100%;
    height: auto;
    overflow: hidden;
  }
}

// 表格类名，高度自适应，分页始终固定在最底部
.gi_full_table {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .arco-table-container {
    flex: 1;
    overflow: hidden;
  }

  .arco-table-scroll-y {
    border-right: 1px solid var(--color-border-table);
  }

  .arco-table-tr .arco-table-td:last-child,
  .arco-table-tr .arco-table-th:last-child {
    border-right: none;
  }

  .arco-table-content {
    .arco-scrollbar:last-child {
      .arco-table-element {
        border-bottom: 1px solid var(--color-border-table);
      }
    }
  }
}

.gi_full_tabs {
  flex: 1;
  display: flex;
  flex-direction: column;

  .arco-tabs-content {
    flex: 1;
    padding-top: 0;

    .arco-tabs-content-list {
      height: 100%;
    }

    .arco-tabs-pane {
      height: 100%;
      overflow-y: auto;
    }
  }

  .arco-tabs-nav-extra {
    padding-right: $padding;
  }
}

// 编辑表格，表头的必填红色星号
.gi_column_require {
  .arco-table-th-title {
    &::before {
      content: '*';
      color: red;
      padding-right: 2px;
    }
  }
}

//
.gi_full_column {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

// 以下这些类名要放到下面，涉及到css权重优先级问题
.gi_mt {
  margin-top: $margin;
}

.gi_mb {
  margin-bottom: $margin;
}

.gi_ml {
  margin-left: $margin;
}

.gi_mr {
  margin-right: $margin;
}

.gi_mx {
  margin-left: $margin;
  margin-right: $margin;
}

.gi_my {
  margin-top: $margin;
  margin-bottom: $margin;
}

.gi_m0 {
  margin: 0;
}

.gi_pt {
  padding-top: $margin;
}

.gi_pb {
  padding-bottom: $margin;
}

.gi_pl {
  padding-left: $margin;
}

.gi_pr {
  padding-right: $margin;
}

.gi_px {
  padding-left: $padding;
  padding-right: $padding;
}

.gi_py {
  padding-top: $padding;
  padding-bottom: $padding;
}

.gi_p0 {
  padding: 0;
}

.gi_round {
  border-radius: 100px;
}

.gi_bg_1 {
  background-color: var(--color-bg-1);
}

.gi_bg_2 {
  background-color: var(--color-bg-2);
}

.gi_bg_3 {
  background-color: var(--color-bg-3);
}

.gi_bg_4 {
  background-color: var(--color-bg-4);
}

.gi_bg_5 {
  background-color: var(--color-bg-5);
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.flex-1 {
  flex: 1;
}

// 一般结合<a-row class="flex-column"></a-row>使用
.flex-column {
  flex-direction: column;
  overflow: hidden;
}

// 通用外边距
.gi_margin {
  margin: $margin;
}

// 通用内边距
.gi_padding {
  padding: $padding;
}

.gi_relative {
  position: relative;
}

.gi_absolute {
  position: absolute;
}

.gi_rotate_90deg {
  transform: rotate(90deg);
}

.gi_rotate_-90deg {
  transform: rotate(-90deg);
}

.gi_rotate_180deg {
  transform: rotate(180deg);
}

.gi_rotate_-180deg {
  transform: rotate(-180deg);
}

.gi_select_input {
  width: 120px !important;
}

.gi_search_input {
  width: 250px !important;
}

.gi_line_1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gi_line_2 {
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.gi_line_3 {
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.gi_line_4 {
  line-clamp: 4;
  -webkit-line-clamp: 4;
}

.gi_line_5 {
  line-clamp: 5;
  -webkit-line-clamp: 5;
}

.gi_line_2,
.gi_line_3,
.gi_line_4,
.gi_line_5 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; // 弹性伸缩盒
  -webkit-box-orient: vertical; // 设置伸缩盒子元素排列方式
}