/* 美化滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.3);
}

::-ms-scrollbar-thumb {
  width: 6px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

body[arco-theme='dark'] {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  ::-ms-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
