// 颜色变量
$theme-color: #165dff;
$primary-color: #409eff;
$success-color: #71c031;
$warning-color: #f2a827;
$danger-color: #d40000;
$info-color: #909399;

// $title-color: #262626; // 标题颜色
// $text-color: #595959; // 文本颜色-全局默认字体颜色
// $text-sub-color: #8c8c8c; // 二级文本颜色
// $text-sup-color: #c0c4cc; // 辅助文本颜色
$title-color: var(--color-text-1); // 标题颜色
$text-color: var(--color-text-2); // 文本颜色-全局默认字体颜色
$text-sub-color: var(--color-text-3); // 二级文本颜色
$text-sup-color: var(--color-text-4); // 辅助文本颜色

// $disabled-color: #bfbfbf; // 禁用、辅助颜色
$border-color: var(--color-border); // 边框颜色、分割线颜色
$background-color: #f2f3f5; // 背景颜色

$margin: 12px;
$padding: 12px;

$box-radius: 4px;

// 字体大小
$font-size: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
