.arco-color-picker-panel .arco-color-picker-panel-control .arco-color-picker-input-wrapper .arco-select-view,
.arco-color-picker-panel .arco-color-picker-panel-control .arco-color-picker-input-wrapper .arco-input-wrapper {
  padding-right: 0;
}

.arco-color-picker-panel .arco-color-picker-input-alpha {
  flex: none;
  width: 70px;

  .arco-input-number-step {
    width: 20px;
    margin-left: 4px;
  }
}

.arco-color-picker-panel .arco-color-picker-input-alpha:not(.arco-input-disabled):not(.arco-input-outer-disabled):hover .arco-input-number-suffix,
.arco-color-picker-panel .arco-color-picker-input-alpha:not(.arco-input-disabled):not(.arco-input-outer-disabled):focus-within .arco-input-number-suffix {
  opacity: 1;
}