.arco-tabs-nav-extra:not(:empty) {
  margin-right: var(--padding);
}

.arco-tabs {
  background: var(--color-bg-1);
}

.arco-tabs-nav-type-rounded .arco-tabs-tab {
  margin: 4px;
  padding: 2px 12px;
}

.arco-tabs-nav-type-card .arco-tabs-tab:first-child,
.arco-tabs-nav-type-card .arco-tabs-tab:last-child {
  border-radius: 0;
}