@import '@arco-themes/vue-gi-demo/index.less';

@import './a-button.less';
@import './a-checkbox.less';
@import './a-radio.less';
@import './a-modal.less';
@import './a-tree.less';
@import './a-pagination.less';
@import './a-menu.less';
@import './a-table.less';
@import './a-callapse.less';
@import './a-input-number.less';
@import './a-image.less';

@transition-duration-1: 0.2s;
@transition-duration-2: 0.3s;
@transition-duration-3: 0.35s;
@transition-duration-4: 0.4s;
@transition-duration-5: 0.5s;

@color-menu-dark-bg: var(--color-bg-1);
@card-color-bg: var(--color-bg-1);

// 禁止文本复制
.arco-link,
.arco-menu-title,
.arco-menu-item-inner,
.arco-tabs-tab-title,
.arco-breadcrumb-item,
.arco-checkbox-label {
  user-select: none;
}

.zoom-modal-enter-from,
.zoom-modal-appear-from {
  transform: scale(0.5, 0.5);
  opacity: 0;
}

.zoom-modal-enter-to,
.zoom-modal-appear-to {
  transform: scale(1, 1);
  opacity: 1;
}

.zoom-modal-enter-active,
.zoom-modal-appear-active {
  transition: all @transition-duration-2;
}

.zoom-modal-leave-from {
  transform: scale(1, 1);
  opacity: 1;
}

.zoom-modal-leave-to {
  transform: scale(0.5, 0.5);
  opacity: 0;
}

.zoom-modal-leave-active {
  transition: all @transition-duration-2;
}
