.gi-iframe[data-v-a154d6de]{position:relative;display:flex;flex:1;width:100%;height:100%;overflow:hidden}.gi-iframe .iframe[data-v-a154d6de]{flex:1;border:none;width:100%;height:100%;padding:0;margin:0;background-color:transparent}
