.gi-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  background: #000;
  border-radius: 50%;
}

$types: primary, success, warning, danger, info;

@each $i in $types {
  .gi-dot-#{$i}

 {
    background-color: rgb(var(--#{$i}-6));
  }

  @if ($i ==info) {
    .gi-dot-#{$i}

 {
      background-color: rgb(var(--gray-6));
    }
  }
}

.gi-dot-processing {
  position: relative;
}

.gi-dot-processing::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  border-radius: 50%;
  animation: gi-dot-animated 1.2s ease-in-out infinite;
}

@keyframes gi-dot-animated {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }

  30% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}